
<% if @movies %>
<div class="container">
    <div class = "row">
<% @movies.values.each_with_index do |m,i| %>
<% if i % 2 == 0 %>
    </div>
        <div class = "row">
<% end %>
    <div class="visible-xs col-xs-6">
      <div class="">
    <a href="/show/<%=m.id%>">
        <img class="sm-poster imgdiv" src="<%=m.ad["Poster"]%>"/>
        <h4><%=m.title%></h4>
    </a>
  </div></div>
<% end %>
<% @movies.values.each_with_index do |m,i| %>
<% if i % 3 == 0 %>
    </div>
        <div class = "row">
<% end %>
    <div class="visible-sm col-sm-4">
      <div class="">
    <a href="/show/<%=m.id%>">
        <img class="sm-poster imgdiv" src="<%=m.ad["Poster"]%>"/>
        <h4><%=m.title%></h4>
    </a>
  </div></div>
<% end %>
<% @movies.values.each_with_index do |m,i| %>
<% if i % 4 == 0 %>
    </div>
        <div class = "row">
<% end %>
    <div class=" visible-md col-md-3">
      <div class="">
    <a href="/show/<%=m.id%>">
        <img class="sm-poster imgdiv" src="<%=m.ad["Poster"]%>"/>
        <h4><%=m.title%></h4>
    </a>
  </div></div>
<% end %>
<% @movies.values.each_with_index do |m,i| %>
<% if i % 6 == 0 %>
    </div>
        <div class = "row">
<% end %>
    <div class=" visible-lg col-lg-2">
      <div class="">
    <a href="/show/<%=m.id%>">
        <img class="sm-poster imgdiv" src="<%=m.ad["Poster"]%>"/>
        <h4><%=m.title%></h4>
    </a>
  </div></div>
<% end %>
</div></div>
<%end%>

